<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ltw.module.test.mapper.PermissionMapper">
    <select id="getAllUserPermission" resultType="com.ltw.module.test.model.entity.Permission" >
        select * from permission where id in (
            select permission_id from role_permission where role_id in (
                SELECT role_id from user_role where user_id = #{userId}
            )
        )
    </select>
</mapper>