<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltw.module.rnsp171.mapper.UserPermissionsRoleRelMapper">

    <resultMap id="BaseResultMap" type="com.ltw.module.rnsp171.model.entity.UserPermissionsRoleRel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="permissionsId" column="permissions_id" jdbcType="BIGINT"/>
            <result property="permissionsCode" column="permissions_code" jdbcType="VARCHAR"/>
            <result property="permissionsName" column="permissions_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="isSystem" column="is_system" jdbcType="TINYINT"/>
            <result property="sortIndex" column="sort_index" jdbcType="INTEGER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="roleType" column="role_type" jdbcType="TINYINT"/>
            <result property="roleRelId" column="role_rel_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,role_code,
        role_name,permissions_id,permissions_code,
        permissions_name,parent_id,type,
        status,icon,is_system,
        sort_index,url,role_type,
        role_rel_id
    </sql>
</mapper>
